<p id="notice"><%= notice %></p>

<p>
  <strong>Class:</strong>
  <%= @course.class_id %>
</p>

<p>
  <strong>Class name:</strong>
  <%= @course.class_name %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @course.starting_date %>
</p>

<p>
  <strong>No of students:</strong>
  <%= @course.no_of_students %>
</p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
